@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Travel Expense Estimator - creates an estimate of travel expenses based on the information provided by the traveler.  The estimate is then e-mailed in PDF format to the e-mail address provided by the traveler.</p>
