@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    505.833.0785
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@gilrael.com">Support@gilrael.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@gilrael.com">Marketing@gilrael.com</a>
</address>
